@CHARSET "UTF-8";

#cmus{  font-family:arial,sans-serif; color:#292929; font-size:14px; max-width:200px; overflow:visible !important;  } 
#cmus a:link,#cmus a:visited{font-family:arial,sans-serif; padding:0 5px; color:#009933; text-decoration:none;}
#cmus a:hover,#cmus a:active{ text-decoration:underline;}

.keyword{ color:#292929; font-weight:bold; font-size:16px; text-transform:capitalize;}

.cmusGogle{  margin-left:50px; }
.cmusBing{  margin-left:50px; }
.cmusYahoo{  margin-left:0px; padding:0 0 15px 189px;}

#cnt-wrap{padding-bottom:10px}