/**
 * Make sure don't remove this block <comment>
 * CMUS-Coupon-Digger content page CSS
 */

@charset "utf-8";

.cmus_output_wp{ text-align:left; background: #000; color: #fff; size: 12px; font-size: 12px; font-family: sans-serif; margin: 0px; padding: 0px 10px; z-index:9999; position:relative; }
.cmus_output_wp #cmusOutput{ margin: 0px; padding: 5px; word-wrap:break-word; line-height: 1.4; }

.cmus_popup_wp{ width:508px; height:366px; position: absolute; left: 35%; top: 25%; z-index: 10100; display: none;overflow: visible!important; color: #000;}
.cmus_popup_wp div{ font-family:arial; font-size:12px; line-height:normal; overflow: visible!important; color: #000;}
.cmus_popup{ position:relative;}
.cmus_popup_mask{ width:508px; height:366px;background:#72c9ed; opacity:0.35; top:0; left:0; position:absolute; z-index:99999999; border-radius:13px;}
.cmus_popup_close{ width:29px; height:30px; background:url(https://i.couponmountain.com/images/cmus_popup_close.png) no-repeat 0 0; cursor:pointer; top:-7px; right:-9px; position:absolute; z-index:1000000001;}
.cmus_popup_content{ border:#72b4df 1px solid; width:490px; height:348px; background:#fff url(https://i.couponmountain.com/images/cmus_popup_content_bg.png) repeat-x 0 0;  top:8px; left:8px; position:absolute;z-index:1000000000; border-radius:5px;}
.cmus_tips{ background:#a5d3f1; height:24px; font-family: Verdana!important; font-size:11px!important; color:#333; text-align:center;  border-radius:0 0 4px 4px;}
.cmus_tips div{ display:inline; font-weight:bold; line-height:24px; }
.cmus_coupon{ width:490px; height:324px; background:url(https://i.couponmountain.com/images/cmus_coupon_cloud.png) no-repeat 0 bottom;}
.cmus_coupon .cmus_cmlogo{ width:336px; height:32px; padding:32px 0 28px 0; margin:0 auto; background:url(https://i.couponmountain.com/images/cmus_cmlogo.png) no-repeat 0 32px;}
.cmus_coupon .cmus_message{ font-family:Georgia!important; font-size:23px!important; color:#000; font-weight:bold; text-align:center; margin-bottom:22px;}
.cmus_coupon .cmus_message div{ display:inline; color:#19aae7;font-family:Georgia!important; font-size:23px!important;}
.cmus_process{ width:380px; margin:0 auto 30px auto;}
.cmus_process_title{ color:#000; font-family:Georgia!important; font-size:14px!important; margin-bottom:12px;}
.cmus_process_title div{ display:inline; color:#19aae7;font-family:Georgia!important; font-size:18px!important;}
.cmus_process_bar{ border-radius:4px; height:14px; box-shadow:#aaa 1px 1px 7px; padding:14px 10px; margin-bottom:12px;}
.cmus_process_bar .cmus_process_bar_content{ height:14px; border-radius:3px;  box-shadow:#aaa 1px 1px 4px inset;  border:#eee 1px solid;}
.cmus_process_bar .cmus_process_percent{ margin:0 auto 0 0; height:14px; border-radius:3px 0 0 3px;  box-shadow:#1383a5 1px 1px 1px inset; background:#1398e0; background-size: 30px 30px; background-image:-webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); -webkit-animation: progress-bar-stripes 1.5s linear infinite; background-image:-moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); -moz-animation: progress-bar-stripes 1.5s linear infinite;}
@-webkit-keyframes progress-bar-stripes {  from {    background-position: 30px 0;  }  to {    background-position: 0 0;  }}
@-moz-keyframes progress-bar-stripes {  from {    background-position: 30px 0;  }  to {    background-position: 0 0;  }}	
.cmus_process_bottom .cmus_process_stop{ float:right; color:#19aae7; text-decoration:underline; cursor:pointer; font-weight:bold;  font-family: Verdana!important; font-size:11px!important;}
.cmus_process_bottom .cmus_process_timeremain{color:#222; font-size:11px!important;}
.cmus_process_bottom .cmus_process_timeremain div{display:inline; font-size:11px!important;}
.cmus_savemoney{font-family: Verdana!important; text-align:center; padding-left:15px;}
.cmus_savemoney div{ display:inline; color:#fc9000;font-family:Verdana!important; font-size:14px!important; margin-right:15px; }

/*choose*/
.cmus_choose .cmus_message{ padding:3px 0 0 0; font-size:22px!important; line-height:170%; font-weight:normal; margin-bottom:24px;}
.cmus_choose .cmus_message div{ font-weight:bold;}
.cmus_choose .cmus_message div.cmus_coupontotal{ font-size:28px!important;}
.cmus_findsavings{font-family:Georgia!important; font-size:22px!important; color:#000; font-weight:bold; text-align:center; margin-bottom:32px;}
.cmus_choose_but{ padding-left:135px;}
.cmus_choose_but div.cmus_but_yes{ background:#19aae7; border:#18a5e1 1px solid; border-radius:4px; width:88px; height:28px; text-align:center; float:left; margin-right:35px;box-shadow:#aaa 1px 1px 7px; cursor:pointer;}
.cmus_choose_but div.cmus_but_yes div{ border-radius:4px;line-height:26px; font-family:Georgia!important; font-size:18px!important; color:#fff; text-shadow:#0d4b65 1px 0 3px; border:#19aae7 1px solid; border-top:#63c5ef 1px solid; text-align:center!important;}
.cmus_choose_but div.cmus_but_no{ background:#c7e4f7; border:#8bc4dc 1px solid; border-radius:4px; width:88px; height:28px; text-align:center; float:left; box-shadow:#aaa 1px 1px 7px;  cursor:pointer;}
.cmus_choose_but div.cmus_but_no div{ border-radius:4px; line-height:26px; font-family:Georgia!important; font-size:18px!important; color:#006f8f; text-shadow:#fff 1px 0 3px; border:#c7e4f7 1px solid; border-top:#fff 1px solid;  background-image:-webkit-linear-gradient(bottom , #b8def5, #def2fd); background-image:-moz-linear-gradient(bottom , #b8def5, #def2fd); text-align:center!important;}
/*Trying codes*/
.cmus_process_title div.cmus_coupontotal{font-size:14px!important; color:#000;}
/*Finish*/
.cmus_finish .cmus_process_bar .cmus_process_percent{ border-radius:3px;}
.cmus_finish .cmus_message{ margin-bottom:5px;}
.cmus_applyingcode{ font-family:Georgia!important; font-size:18px!important; color:#000; text-align:center; margin-bottom:15px; line-height:180%!important;}
.cmus_applyingcode div{ display:inline; color:#19aae7;font-family:Georgia!important; font-size:22px!important;}
/*Congratulations*/
.cmus_congratulations_title{font-family:Georgia!important; font-size:28px!important; color:#19aae7; text-align:center; font-weight:bold; margin-bottom:20px;}
.cmus_congratulations .cmus_message{ font-size:22px!important; font-weight:normal; margin-bottom:24px;}
.cmus_congratulations .cmus_message .cmus_saved{ font-weight:bold;}
.cmus_congratulations .cmus_savemoney{ margin-bottom:30px;}
.cmus_congratulations div.cmus_latestprice{ font-size:18px!important;}
.cmus_share_but{  width:270px; padding-top:1px; height:47px; margin:0 auto; background:#19aae7; box-shadow:#aaa 1px 1px 7px;border-radius:4px; }
.cmus_share_but div.cmus_but_facebook{display:block; float:left; margin-right:16px; height:30px; width:30px;border-radius:15px; cursor:pointer; background:#fff; background:#fff url(https://i.couponmountain.com/images/cmus_facebook.png) no-repeat center center;}
.cmus_share_but div.cmus_but_twitter{display:block; float:left; margin-right:16px; height:30px; width:30px;border-radius:15px; cursor:pointer; background:#fff; background:#fff url(https://i.couponmountain.com/images/cmus_twitter.png) no-repeat center center;}
.cmus_share_but div.cmus_but_email{ display:block; float:left; height:30px; width:30px;border-radius:15px; cursor:pointer; background:#fff;background:#fff url(https://i.couponmountain.com/images/cmus_email.png) no-repeat center center;}
.cmus_share_but div.cmus_share_but_content{ border-top:#63c5ef 1px solid;padding:7px 0 9px 10px; height:30px;border-radius:4px;}
.cmus_share_but div.sharesavings_txt{ line-height:30px; float:left; margin-right:10px; font-family:Georgia!important; font-size:18px!important; color:#fff;}

/*Sorry*/
.cmus_sorry .cmus_message{ font-size:22px!important; font-weight:normal; padding-top:20px; line-height:180%;}
.cmus_sorry .cmus_cmlink{ color:#19aae7; cursor:pointer;}
.cmus_sorry .cmus_cmlink:hover{ text-decoration:underline;}